<p>Which stop are you leaving from?</p>

<form action='/stop_a_index' method='get'>
  <select>
    <option value="volvo">Volvo</option>
    <option value="saab">Saab</option>
    <option value="mercedes">Mercedes</option>
    <option value="audi">Audi</option>
  </select>
</form>

<p>At which stop are you getting off?</p>

<form action='/stop_b_index' method='get'>

<select>
  <option value="volvo">Volvo</option>
  <option value="saab">Saab</option>
  <option value="mercedes">Mercedes</option>
  <option value="audi">Audi</option>
</select>
</form>